[all]
{% for item in groups['all'] %}
{{item}}
{% endfor %}

[openshift_master_group]
{% for entry in groups['openshift_master_group'] %}
{{ entry.hostname }} instance_name={{ entry.instance_name }} private_ip={{ entry.private_ip }} public_ip={{ entry.public_ip }} ansible_user={{ ssh_default_image_user }} ansible_password={{ ssh_default_image_password }} ansible_port={{ ssh_default_image_port }}
{% endfor %}